extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You?
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Services
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Contact Us
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        a.btn.btn-default(href='#') View Details